.community {
    padding-top: 85px;
    padding-bottom: 140px;
    background-color: #F5F6F7;

    &-container {
        width: 1331px;
        margin-left: auto;

    }

    &__inner {
        display: flex;
        justify-content: space-between;

        &-left {
            width: 298px;
            text-align: center;

            &-title {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                text-transform: uppercase;
                margin: 20px 0 10px 0;
                color: #373737;


            }

            p {
                @include content-style;
                margin: 0 auto;
            }

        }

        &-right {
            width: 900px;
            overflow-x: hidden;

            &-slider {
                &-track {
                    display: flex;
                }

                &-item {
                    max-width: 407px;
                    max-height: 244px;
                    object-fit: cover;
                    object-position: center;
                    margin-right: 30px;
                }

                .item-correct {
                    margin: 0;
                }

                &-page {
                    width: 345px;
                    margin: 0 0 23px auto;

                    .arrow-active {
                        opacity: 0.5;
                    }

                    &-prev,
                    &-next {
                        cursor: pointer;
                        transition: opacity 0.3s;

                        &:hover {
                            opacity: 0.5;
                        }


                    }

                    span {
                        font-size: 18px;
                        line-height: 18px;
                        color: #373737;
                        margin: 0 10px;

                        span {
                            margin: 0 4px;
                        }
                    }


                }
            }


        }


    }


}