.intro {
    padding: 120px 0 140px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-left {
            width: 50%;

            &-text {
                width: 407px;

                &-title {
                    @include title-style;
                }

                p {
                    @include content-style;
                    margin: 20px 0 30px 0;
                }

                &-btn {
                    @include btn-style;
                }

            }

        }

        &-right {
            width: 50%;


            &-img {
                display: block;
                width: 407px;
                margin-left: auto;
            }

        }


    }

}