.sign-up {
    padding: 200px 0 220px;
    background: url('../images/sign-up/sign-up-bg.jpg') no-repeat center;
    background-size: cover;

    &__inner {
        width: 406px;
        margin: 0 auto;

        &-title {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            letter-spacing: 1px;
            line-height: 28px;
            text-transform: uppercase;
            color: #ffffff;
        }

        &-form {
            margin-top: 30px;
            display: flex;

            &-input {
                width: 100%;
                font-size: 14px;
                line-height: 20px;
                padding: 13px 0 13px 24px;
                color: #373737;
                outline: none;
                border: none;

                &::placeholder {
                    font-size: 14px;
                    line-height: 20px;
                    opacity: 0.5;
                }

                &:active,
                &:focus,
                &:hover {
                    outline: none;

                }
            }

            &-btn {
                display: flex;
                align-items: center;
                background-color: #00AFDB;
                border: none;
                transition: background-color 0.3s ease-in-out;
                padding: 0 25px;
                cursor: pointer;

                &:hover {
                    background-color: #009CC2;
                }
            }

        }
    }

}