* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.en {
    font-family: 'Montserrat',
        sans-serif;

}

.ar *:not(.header__link) {
    font-family: 'Lateef',
        cursive;
    font-weight: 400;
}

section[class$='_rtl'] {
    direction: rtl;
}


.container {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    text-decoration: none;

    &:active,
    &:visited,
    &:focus {
        outline: none;
    }
}