@import 'basic-settings';
@import 'var';
@import 'mixins';


.hero-page {
    overflow-x: hidden;
}

.header {
    position: fixed;
    width: 100%;
    padding: 24px 0;
    background-color: #fff;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.16));
    z-index: 5;


    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 30%;

        &-icon {
            width: 100px;
            height: 32px;

            @media(max-width:576px) {
                width: 50px;
                height: 16px;
            }
        }

        @media(max-width: 992px) {
            width: 20%;
        }

        @media(max-width: 576px) {
            width: 40%;
        }

    }



    &__nav {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        &-item {
            @include content-text-style(#111111);
            transition: color 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                color: lighten($color: #111111, $amount: 50%);
            }
        }

        @media(max-width: 992px) {
            width: 60%;
        }

        @media(max-width:576px) {
            position: absolute;
            top: 0;
            right: 0;
            width: 80%;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            z-index: 10;
            transform: translateX(100%);
            transition: transform 0.3s;


            li {
                @include content-text-style(#111111);
                margin-bottom: 32px;
            }
        }

        &_active {
            transform: translateX(0%);
        }
    }

    &__lang {
        width: 30%;
        @include content-text-style(#AFAFAF);
        font-family: 'Montserrat',
            sans-serif;
        text-align: right;

        @media(max-width: 992px) {
            width: 20%;
        }

        @media(max-width: 576px) {
            width: 40%;
        }
    }

    &__link {
        @include content-text-style(#AFAFAF);
        text-decoration: none;

        &_active {
            font-weight: 600;
            color: #111111;
        }

    }

    &__burger {
        display: none;
        cursor: pointer;
        height: 15px;
        z-index: 15;

        @media(max-width:576px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    @media(max-width:576px) {
        padding: 16px 0;
    }

}



.line {
    width: 20px;
    height: 2px;
    background-color: #404040;
    transition: all 0.3s;
}

$height: 13px;

.toggle-line-1 {
    transform: translateY($height/2) rotate(45deg);
}

.toggle-line-2 {
    opacity: 0;
}

.toggle-line-3 {
    transform: translateY(-$height/2) rotate(-45deg);
}

.main {
    position: relative;
    padding-top: 84px;
    background-color: #F8E92D;

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 64px;

        @media(max-width: 768px) {
            display: block;
            margin-top: 50px;

        }

        &_ar {
            flex-direction: row-reverse;
        }

    }



    &__left {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        width: 45%;

        @media(max-width: 768px) {
            text-align: center;
            width: 100%;
            max-width: 452px;
            margin: 0 auto;
        }

        @media(max-width:576px) {
            text-align: unset;
        }

        &_ar {
            text-align: right;

            @media(max-width: 768px) {
                text-align: center;
            }

            @media(max-width: 576px) {
                text-align: right;
            }
        }
    }



    &__title {
        font-weight: 800;
        font-size: 48px;
        line-height: 58px;
        color: $black;
        z-index: 1;

    }

    &__subtext {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        margin: 16px 0 48px 0;
        color: #111111;
        z-index: 1;

    }

    &__btn-list {
        display: flex;
        z-index: 1;


        @media(max-width: 768px) {
            margin: 0 auto;
        }

        @media(max-width: 576px) {
            display: block;
            margin: 0;
        }

        &_ar {
            margin-left: auto;
        }
    }

    &__btn {
        font-weight: 800;
        font-size: 16px;
        line-height: 22px;
        width: fit-content;
        padding: 17px 32px;
        border-radius: 8px;
        color: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.32);
        cursor: pointer;

        &_purple {
            background-color: #431B93;
            margin-right: 32px;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                // background-color: #31136C;
                background-color: darken($color: #31136C, $amount: 5%);

            }
        }

        &_green {
            background-color: #4BAF4F;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: darken($color: #4BAF4F, $amount: 7%);
            }

            @media(max-width: 576px) {
                margin-top: 24px;
            }
        }
    }

    &__center {
        width: 10%;
        display: flex;
        align-items: flex-end;
        padding-bottom: 64px;

        @media(max-width: 768px) {
            display: none;
        }


        @media(max-width:576px) {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            padding-bottom: 40px;
        }

        &_ar {
            justify-content: flex-end;

            @media(max-width:576px) {
                justify-content: flex-start;
            }
        }
    }


    &__right {
        width: 45%;
        z-index: 1;

        &-img {
            width: 100%;
            height: 100%;
            object-position: 0 10px;
            max-width: 466px;
            z-index: 1;

        }

        @media(max-width: 768px) {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 100%;
            margin-top: 40px;
        }

        @media(max-width: 576px) {
            display: none;
        }
    }

    @media(max-width: 768px) {}

    @media(max-width: 576px) {
        padding-top: 48px;


    }

}

.green-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 183px;
    overflow: hidden;
    z-index: 0;


    @media(max-width:576px) {
        width: 110px;
        height: 110px;
    }

    &_ar {
        left: unset;
        right: 0;
    }
}

.green-circle {
    width: 666px;
    height: 666px;
    transform: translate(-70%, 0);
    background-color: #4BAF4F;
    border-radius: 100%;

    @media(max-width: 576px) {
        transform: translate(-80%, -5%);

    }

    &_ar {
        transform: translate(-3%, 0);

        @media(max-width: 576px) {
            transform: translate(-5%, -5%);

        }
    }
}

.purple-box {
    position: absolute;
    top: 84px;
    right: 0;
    width: 275px;
    height: 70px;
    margin-right: 84px;
    overflow: hidden;
    z-index: 0;

    @media(max-width:768px) {
        width: 180px;
        height: 183px;
        margin-right: 0;
    }

    @media(max-width:576px) {
        top: 48px;
        width: 110px;
        height: 110px;
    }

    &_ar {
        right: unset;
        left: 0;
        margin-right: unset;
        margin-left: 84px;

        @media(max-width: 768px) {
            margin-left: 0;
        }

    }
}

.purple-circle {
    width: 320px;
    height: 320px;
    transform: translate(-10%, -80%);
    background-color: #431B93;
    border-radius: 100%;

    @media(max-width: 768px) {
        transform: translate(0, -60%);
    }

    @media(max-width: 576px) {
        transform: translate(-5%, -70%);

    }

    &_ar {
        @media(max-width:768px) {
            transform: translate(-50%, -60%);
        }

        @media(max-width: 576px) {
            transform: translate(-60%, -70%);

        }
    }
}

.watch {
    padding: 84px 0;
    text-align: center;
    background-color: #FAFAFA;

    &__title {
        @include title-style;
    }

    &__video {
        width: 100%;
        max-width: 646px;
        margin-top: 64px;
        border: 2px solid #F8E92D;
        border-radius: 8px;
    }

    @media(max-width:768px) {
        padding: 80px 0;
    }
}

.user-app {
    background: url('../img/user-app/user-app-bg.jpg') no-repeat center;
    background-size: cover;
    padding-top: 84px;

    &__inner {
        display: flex;
        justify-content: space-between;

        @media(max-width: 768px) {
            display: block;
            margin: 0;

        }

        &_ar {
            flex-direction: row-reverse;
        }
    }

    &__left {
        width: 55%;
        margin-top: 64px;
        color: #FFFFFF;
        text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.32);

        @media(max-width: 1200px) {
            margin: 0;
        }

        @media(max-width: 768px) {
            text-align: center;
            width: 100%;
            max-width: 652px;
            margin: 0 auto;
        }

        @media(max-width:576px) {
            text-align: unset;
        }

        &_ar {
            text-align: right;

            @media(max-width: 768px) {
                text-align: center;
            }

            @media(max-width: 576px) {
                text-align: right;
            }
        }
    }

    &__title {
        font-weight: 800;
        font-size: 32px;
        line-height: 45px;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        margin-top: 24px;
    }

    &__app-list {
        display: flex;
        width: fit-content;
        margin-top: 48px;

        @media(max-width: 768px) {
            margin-left: auto;
            margin-right: auto;
        }

        @media(max-width: 576px) {
            display: block;
        }

        &_ar {
            margin-left: auto;
        }

    }

    &__link {
        display: block;
        text-align: center;
        margin: 0 16px;

        @media(max-width:576px) {
            margin: 0 auto 24px auto;
        }
    }

    &__right {
        width: 40%;

        &-img {
            width: 100%;
            height: 100%;
            object-position: 0 10px;
            max-width: 466px;
        }

        @media(max-width: 768px) {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 100%;
            margin-top: 40px;
        }
    }

    &_ar {
        background: url('../img/user-app/user-app-bg_ar.jpg') no-repeat center;
        background-size: cover;
    }

    @media(max-width: 768px) {
        padding-top: 64px;
        background-position: left top;
    }

    @media(max-width: 576px) {
        padding-top: 80px;
    }

}

.user-work {
    text-align: center;
    padding-top: 123px;
    padding-bottom: 162px;

    &__title {
        @include title-style;
    }

    &__subtitle {
        @include content-text-style;
        margin: 16px 0 64px 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @media(max-width:768px) {
            display: block;
        }
    }

    &__item {
        width: 31%;

        @media(max-width:768px) {
            width: 100%;
            margin-top: 48px;
        }
    }

    &__subtext {
        @include content-text-style;
        margin-top: 24px;
    }

    @media(max-width:768px) {
        padding: 84px 0;
    }

    @media(max-width:768px) {
        padding: 80px 0;
    }
}

.driver-app {
    background: url('../img/driver-app/driver-app-bg.jpg') no-repeat center;
    background-size: cover;
    padding-top: 84px;

    &__inner {
        display: flex;
        justify-content: space-between;

        &__ar {
            flex-direction: row-reverse;
        }

        @media(max-width: 768px) {
            display: block;
            margin: 0;

        }

        &_ar {
            flex-direction: row-reverse;
        }
    }

    &__left {
        width: 55%;
        margin-top: 64px;
        color: #FFFFFF;
        text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.32);

        @media(max-width: 1200px) {
            margin: 0;
        }

        @media(max-width: 768px) {
            text-align: center;
            width: 100%;
            max-width: 652px;
            margin: 0 auto;
        }

        @media(max-width:576px) {
            text-align: unset;
        }

        &_ar {
            text-align: right;

            @media(max-width: 768px) {
                text-align: center;
            }

            @media(max-width: 576px) {
                text-align: right;
            }
        }
    }

    &__title {
        font-weight: 800;
        font-size: 32px;
        line-height: 45px;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        margin-top: 24px;
    }

    &__app-list {
        display: flex;
        width: fit-content;
        margin-top: 48px;

        @media(max-width: 768px) {
            margin-left: auto;
            margin-right: auto;
        }

        @media(max-width: 576px) {
            display: block;
        }

        &_ar {
            margin-left: auto;
        }

    }

    &__link {
        display: block;
        text-align: center;
        margin: 0 16px;

        @media(max-width:576px) {
            margin: 0 auto 24px auto;
        }
    }

    &__right {
        width: 40%;

        &-img {
            width: 100%;
            height: 100%;
            object-position: 0 10px;
            max-width: 466px;
        }

        @media(max-width: 768px) {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 100%;
            margin-top: 40px;
        }
    }

    &_ar {
        background: url('../img/driver-app/driver-app-bg_ar.jpg') no-repeat center;
        background-size: cover;
    }

    @media(max-width: 768px) {
        padding-top: 48px;
        background-position: left top;
    }

    @media(max-width:576px) {
        padding-top: 80px;
    }


}

.driver-work {
    text-align: center;
    padding-top: 123px;
    padding-bottom: 162px;

    &__title {
        @include title-style;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 64px;

        @media(max-width:768px) {
            display: block;
        }
    }

    &__item {
        width: 18%;

        @media(max-width:768px) {
            width: 100%;
            margin-top: 48px;
        }
    }

    &__subtext {
        @include content-text-style;
        margin-top: 24px;
    }
}

.footer {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    padding: 64px 0;
    background-color: #111111;

    &__inner {
        max-width: 320px;
        margin: 0 auto;
    }

    &__mail {
        margin-top: 64px;
    }

    &__address {
        margin-top: 32px;
    }

    &__lable {
        font-weight: 500;
        color: #D7D7D7;

        &_ar {
            font-weight: normal;

        }
    }

    &__text,
    &__nums {
        font-weight: 800;
        color: #FFFFFF;

        &_ar {
            font-weight: normal;

        }
    }

    &__nums {
        margin-top: 20px;
    }

    &__media {
        margin-top: 48px;

        &-link {
            margin: 0 10px;


        }

        &-icon {
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: translate(10%, -10%);
            }
        }
    }
}