@import "var";
@import "mixins";
@import "basic-settings";

// Hero-page
.hero-page {
    position: relative;
    padding: 28px 0 156px 0;

    &__img {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        z-index: -1;
    }
}

.header {

    &__inner {
        display: flex;
        justify-content: space-between;
        // justify-content: center;
        align-items: center;
    }

    &__logo {
        width: 20%;
    }

    &__center-items {
        width: 25%;
        display: flex;
        justify-content: space-around;
    }

    &__right-items {
        width: 20%;
        display: flex;
        justify-content: space-between;
    }

    &__link {
        font-size: 20px;
        line-height: 30px;
        text-decoration: none;
        color: $blue;

        &:active,
        &:focus {
            outline: none;
        }

        &_white {
            color: white;
        }
    }

    &__phone {
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: white;
    }
}

.logo {
    position: relative;

    &__text {
        font-weight: bold;
        font-size: 36px;
        line-height: 53px;

        &_blue {
            position: absolute;
            left: -3px;
            bottom: 3px;
            color: $blue;
        }

        &_green {
            color: $green;
        }
    }
}

.main {
    padding-top: 107px;

    &__title {
        font-weight: bold;
        font-size: 40px;
        line-height: 59px;
    }

    &__subtitle {
        font-size: 20px;
        line-height: 30px;
        margin-top: 10px;
    }

    &__indexes {
        width: 75%;
        margin-top: 41px;
        display: flex;
        justify-content: space-between;

    }

    &__index-item {
        width: 28%;
    }

    &__index-title {
        font-size: 40px;
        line-height: 59px;
        color: $blue;
    }

    &__index-desc {
        font-size: 20px;
        line-height: 30px;
        max-width: 104px;
    }

    &__btn {
        @include btn-style;
        padding: 14px 90px;
        margin-top: 100px;
        cursor: pointer;
    }
}

.main-container {
    width: 88%;

    margin-left: auto;
}

.main__content {
    width: 60%;
}