@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@font-face {
  font-family: 'Bebas Neue Reg';
  src: url("../fonts/BebasNeue/");
  src: url("../fonts/BebasNeue/?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeue/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeue/BebasNeueRegular.ttf") format("truetype"), url("../fonts/BebasNeue/BebasNeueRegular.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 92%;
  max-width: 1170px;
  margin: 0 auto;
}

.hero-page {
  background: url("../images/hero-page/hero-page-bg.png") no-repeat center;
  background-size: cover;
}

.hero-page .container {
  position: relative;
  overflow: hidden;
}

.hero-page header {
  margin-top: 50px;
}

.hero-page header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero-page header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-page header .logo svg {
  width: 64px;
  height: 64px;
}

.hero-page header .logo-text {
  font-family: 'Bebas Neue Reg', sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 58px;
  text-transform: uppercase;
  margin-left: 20px;
  color: white;
}

.hero-page header .logo-text span {
  color: #b97501;
}

@media (max-width: 768px) {
  .hero-page header .logo-text {
    font-size: 20px;
  }
}

.hero-page header .menubar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-page header .menubar .menu {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 58px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 20px;
  color: #b97501;
}

.hero-page header .menubar .menu:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .hero-page header .menubar .menu {
    display: none;
  }
}

.hero-page header .menubar .burger {
  display: inline-block;
  margin-right: 20px;
  z-index: 1;
}

.hero-page header .menubar .burger .line {
  width: 45px;
  height: 4px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero-page header .menubar .burger .mid-line {
  margin: 6px 0px;
}

.hero-page header .menubar .burger:hover {
  cursor: pointer;
}

.hero-page .nav {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 290px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  padding: 100px 30px 0 60px;
  background-color: #b97501;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hero-page .nav li {
  margin-bottom: 28px;
  color: #ffffff;
}

.hero-page .nav li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.hero-page .nav li a:hover {
  font-weight: 700;
}

.hero-page .nav-active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.hero-page .active-line-1 {
  -webkit-transform: rotate(-45deg) translateY(350%);
          transform: rotate(-45deg) translateY(350%);
}

.hero-page .active-line-2 {
  opacity: 0;
}

.hero-page .active-line-3 {
  -webkit-transform: rotate(45deg) translateY(-350%);
          transform: rotate(45deg) translateY(-350%);
}

.hero-page .main {
  margin-top: 150px;
  text-align: center;
}

.hero-page .main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.hero-page .main__inner .suptitle {
  font-size: 24px;
  letter-spacing: 5px;
  color: #b97501;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 768px) {
  .hero-page .main__inner .suptitle {
    font-size: 18px;
    line-height: normal;
  }
}

.hero-page .main__inner .title {
  font-size: 160px;
  line-height: 140px;
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  color: white;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .hero-page .main__inner .title {
    font-size: 70px;
    line-height: 70px;
  }
}

.hero-page .main svg {
  width: 64px;
  height: 64px;
  fill: #b97501;
  margin-bottom: 40px;
}

.header-fixed {
  position: fixed;
}

.intro {
  padding-top: 100px;
  padding-bottom: 90px;
  text-align: center;
  background: url("../images/intro/intro-bg.jpg") no-repeat center;
  background-size: cover;
}

.intro-title {
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-size: 92px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .intro-title {
    font-size: 50px;
  }
}

.intro img {
  width: 60%;
  max-width: 540px;
}

.intro p {
  max-width: 640px;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin: 50px auto 0 auto;
  color: #ffffff;
}

@media (max-width: 768px) {
  .intro p {
    font-size: 20px;
    line-height: normal;
  }
}

.challenges {
  padding-top: 100px;
  background: url("../images/challenges/challenges-bg.jpg") no-repeat;
  background-position: 20% 0;
  background-size: cover;
}

.challenges__inner {
  position: relative;
}

.challenges-title {
  font-size: 160px;
  line-height: 140px;
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  color: #060022;
}

@media (max-width: 768px) {
  .challenges-title {
    font-size: 70px;
    text-align: center;
  }
}

.challenges__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .challenges__flex {
    display: block;
  }
}

.challenges .why {
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .challenges .why {
    margin-bottom: 50px;
  }
}

.challenges-subtitle {
  font-size: 24px;
  letter-spacing: 5px;
  color: #b97501;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  margin-top: 25px;
}

.challenges__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #3c3c3a;
  margin-top: 10px;
  max-width: 610px;
  margin-right: 10px;
}

.challenges .text-block {
  width: 60%;
}

@media (max-width: 992px) {
  .challenges .text-block {
    width: 100%;
  }
}

.challenges-img {
  position: absolute;
  bottom: 0;
  right: -4px;
  width: 40%;
  max-width: 456px;
}

@media (max-width: 992px) {
  .challenges-img {
    display: none;
  }
}

.challenges .summary {
  position: relative;
  padding: 30px 130px 30px 20px;
  max-width: 520px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  background-color: #060022;
  z-index: 1;
  color: #ffffff;
}

.challenges .summary:before {
  content: 'SUMMARY';
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  -webkit-transform: translate(20px, -70%);
          transform: translate(20px, -70%);
  padding: 12px;
  background-color: #b97501;
}

@media (max-width: 768px) {
  .challenges .summary {
    padding-right: 20px;
  }
}

@media (max-width: 576px) {
  .challenges .summary {
    margin-bottom: 30px;
  }
}

.attract {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 70px;
  background: url("../images/attract/attract-bg.jpg") no-repeat center;
  background-size: cover;
}

.attract-suptitle {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  letter-spacing: 5px;
  font-weight: 400;
  background-color: #060022;
  color: #ffffff;
}

@media (max-width: 768px) {
  .attract-suptitle {
    font-size: 20px;
  }
  .attract-suptitle br {
    display: none;
  }
}

.attract-title {
  font-size: 160px;
  line-height: 140px;
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  color: white;
  margin-top: 50px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .attract-title {
    font-size: 70px;
    line-height: 70px;
  }
}

.attract-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  letter-spacing: 5px;
  font-weight: 400;
  color: #ffffff;
}

@media (max-width: 768px) {
  .attract-subtitle {
    font-size: 20px;
  }
}

.what {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
  background: url("../images/what/what-bg.jpg") no-repeat center;
  background-size: cover;
}

.what-title {
  font-size: 160px;
  line-height: 140px;
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  color: white;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .what-title {
    font-size: 70px;
    line-height: 70px;
  }
}

.what p {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .what p {
    font-size: 20px;
    line-height: normal;
  }
}

.facts {
  padding-top: 100px;
  padding-bottom: 80px;
}

.facts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .facts__inner {
    display: block;
  }
}

.facts__text-block {
  margin-right: 6%;
  width: 100%;
  max-width: 600px;
}

@media (max-width: 992px) {
  .facts__text-block {
    max-width: 100%;
  }
}

.facts-subtitle {
  font-family: "Bebas Neue", cursive;
  font-size: 92px;
  line-height: 92px;
  color: #060022;
}

@media (max-width: 768px) {
  .facts-subtitle {
    font-size: 50px;
    line-height: normal;
  }
}

.facts-capture {
  font-size: 24px;
  letter-spacing: 5px;
  color: #b97501;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  margin-top: 40px;
}

@media (max-width: 786px) {
  .facts-capture {
    font-size: 20px;
    margin-top: 20px;
  }
}

.facts p {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 40px;
  color: #3c3c3a;
}

@media (max-width: 786px) {
  .facts p {
    font-size: 20px;
    line-height: normal;
    margin-top: 20px;
  }
}

.facts__source {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding: 30px 20px;
  max-width: 580px;
  border: 10px solid #b97501;
  margin-top: 40px;
}

.facts__source strong {
  font-weight: 800;
  color: #3c3c3a;
}

.facts__source a {
  display: inline-block;
  word-wrap: break-word;
  font-weight: 400;
  max-width: 100%;
  color: #b97501;
}

@media (max-width: 786px) {
  .facts__source {
    font-size: 16px;
    padding: 20px 15px;
  }
}

@media (max-width: 992px) {
  .facts__pictures {
    text-align: center;
  }
}

.facts__pictures img {
  max-width: 100%;
}

@media (max-width: 992px) {
  .facts__pictures {
    margin-top: 50px;
  }
}

.facts-title {
  font-size: 160px;
  line-height: 140px;
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  color: #060022;
  text-align: center;
  margin-bottom: 73px;
}

@media (max-width: 768px) {
  .facts-title {
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 30px;
  }
}

.benefits {
  position: relative;
}

@media (max-width: 992px) {
  .benefits {
    padding-bottom: 50px;
  }
}

.benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .benefits__inner {
    display: block;
  }
}

.benefits__left {
  max-width: 770px;
  margin-top: 60px;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .benefits__left {
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.benefits-title {
  font-size: 160px;
  line-height: 140px;
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  color: white;
  background-color: #b97501;
  padding-top: 30px;
  padding-right: 100px;
  padding-bottom: 15px;
  padding-left: 50px;
}

@media (max-width: 1200px) {
  .benefits-title {
    padding-right: 80px;
  }
}

@media (max-width: 768px) {
  .benefits-title {
    font-size: 70px;
    line-height: 70px;
  }
}

.benefits-capture {
  font-size: 24px;
  letter-spacing: 5px;
  color: #b97501;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  margin-top: 30px;
  padding-right: 30%;
}

@media (min-width: 1800px), (max-width: 992px) {
  .benefits-capture {
    padding: 0;
  }
}

.benefits li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #3c3c3a;
  margin-top: 30px;
  padding-right: 30%;
}

@media (min-width: 1800px), (max-width: 992px) {
  .benefits li {
    padding: 0;
  }
}

.benefits__right {
  padding: 100px 0 0 100px;
}

@media (max-width: 1435px) {
  .benefits__right {
    padding-left: 80px;
  }
}

@media (max-width: 768px) {
  .benefits__right {
    padding-left: 10px;
  }
}

.benefits-subtitle {
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  line-height: 68px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .benefits-subtitle {
    font-size: 30px;
    line-height: 30px;
  }
}

.benefits .emotions {
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-size: 92px;
  line-height: 90px;
  margin-top: 40px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .benefits .emotions {
    font-size: 50px;
    line-height: 40px;
    margin-top: 30px;
  }
}

.benefits p {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .benefits p {
    font-size: 20px;
    line-height: 30px;
  }
}

.benefits img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 872px;
  height: 100%;
  z-index: -10;
}

@media (max-width: 1435px) {
  .benefits img {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .benefits img {
    height: 40%;
    width: 100%;
  }
}

@media (max-width: 776px) {
  .benefits img {
    height: 30%;
  }
}

.concept {
  padding-top: 100px;
  padding-bottom: 120px;
  text-align: center;
  background: url("../images/concepts/concepts-bg.jpg") no-repeat center;
  background-size: cover;
}

.concept-title {
  font-size: 160px;
  line-height: 140px;
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  color: white;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 800px;
}

@media (max-width: 768px) {
  .concept-title {
    font-size: 70px;
    line-height: 70px;
  }
}

.concept-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 5px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .concept-subtitle {
    font-size: 24px;
    line-height: normal;
  }
}

.ufo__inner {
  position: relative;
  padding: 50px 50px 60px 20px;
  border: 10px solid #b97501;
  margin-top: -30px;
  z-index: 10;
}

@media (max-width: 768px) {
  .ufo__inner {
    padding: 50px 20px 60px 20px;
  }
}

.ufo-title {
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-size: 92px;
  color: #060022;
  text-align: center;
}

@media (max-width: 768px) {
  .ufo-title {
    font-size: 50px;
    line-height: 40px;
  }
}

.ufo-subtitle {
  font-size: 24px;
  letter-spacing: 5px;
  color: #b97501;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0;
  text-align: center;
}

@media (max-width: 768px) {
  .ufo-subtitle {
    font-size: 20px;
  }
}

.ufo .description {
  font-family: 'Bebas Neue Reg', sans-serif;
  font-size: 60px;
  line-height: 50px;
  letter-spacing: 12px;
  color: #b97501;
}

@media (max-width: 768px) {
  .ufo .description {
    font-size: 30px;
    letter-spacing: 8px;
    line-height: normal;
  }
}

@media (max-width: 576px) {
  .ufo .description {
    text-align: center;
  }
}

.ufo__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

@media (max-width: 768px) {
  .ufo__flex {
    display: block;
  }
}

.ufo__left {
  width: 50%;
  max-width: 385px;
}

@media (max-width: 768px) {
  .ufo__left {
    width: 100%;
    max-width: 100%;
  }
}

.ufo__right {
  max-width: 520px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .ufo__right {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
}

.ufo p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #3c3c3a;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .ufo p {
    font-size: 16px;
    margin-top: 20px;
  }
}

.ufo li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #3c3c3a;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .ufo li {
    font-size: 16px;
    margin-top: 20px;
  }
}

.ufo img {
  position: absolute;
  top: 40%;
  right: 0;
  width: 50%;
  max-width: 120px;
  z-index: -5;
}

.ufo .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -10;
}

.stars__inner {
  position: relative;
  padding: 50px 50px 60px 20px;
  border: 10px solid #060022;
  margin-top: 70px;
  z-index: 10;
}

@media (max-width: 768px) {
  .stars__inner {
    padding: 50px 20px 60px 20px;
  }
}

.stars-title {
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-size: 92px;
  color: #060022;
  text-align: center;
}

@media (max-width: 768px) {
  .stars-title {
    font-size: 50px;
    line-height: 40px;
  }
}

.stars-subtitle {
  font-size: 24px;
  letter-spacing: 5px;
  color: #b97501;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0;
  text-align: center;
}

@media (max-width: 768px) {
  .stars-subtitle {
    font-size: 20px;
  }
}

.stars .description {
  font-family: 'Bebas Neue Reg', sans-serif;
  font-size: 60px;
  line-height: 50px;
  letter-spacing: 12px;
  color: #b97501;
}

@media (max-width: 768px) {
  .stars .description {
    font-size: 30px;
    letter-spacing: 8px;
    line-height: normal;
  }
}

@media (max-width: 576px) {
  .stars .description {
    text-align: center;
  }
}

.stars__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .stars__flex {
    display: block;
  }
}

.stars__left {
  width: 50%;
  max-width: 385px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .stars__left {
    width: 100%;
    max-width: 100%;
  }
}

.stars__right {
  max-width: 520px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .stars__right {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
}

.stars p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #3c3c3a;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .stars p {
    font-size: 16px;
    margin-top: 20px;
  }
}

.stars li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #3c3c3a;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .stars li {
    font-size: 16px;
    margin-top: 20px;
  }
}

.stars img {
  position: absolute;
  top: 40%;
  right: 0;
  width: 50%;
  max-width: 160px;
  z-index: -5;
}

.tech {
  background: url("../images/tech/tech-bg_02.jpg") no-repeat center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 50px;
}

.tech-title {
  font-size: 160px;
  line-height: 140px;
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  color: #060022;
}

@media (max-width: 768px) {
  .tech-title {
    font-size: 70px;
    line-height: 70px;
  }
}

.tech-subtitle {
  font-size: 24px;
  letter-spacing: 5px;
  color: #b97501;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  max-width: 700px;
  margin-top: 30px;
}

.tech li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #3c3c3a;
  max-width: 850px;
  margin-top: 30px;
}

footer {
  padding-top: 100px;
  padding-bottom: 90px;
  text-align: center;
  background: url("../images/footer/footer-bg.jpg") no-repeat center;
  background-size: cover;
}

footer .footer-title {
  font-family: "Bebas Neue", cursive;
  font-size: 92px;
  line-height: 70px;
  color: #ffffff;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  footer .footer-title {
    font-size: 50px;
    line-height: 40px;
  }
}

footer img {
  width: 50%;
  max-width: 540px;
}

footer .footer__flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

@media (max-width: 768px) {
  footer .footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer__flex__el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 40px;
}

@media (max-width: 768px) {
  footer .footer__flex__el {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

footer h2,
footer p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: white;
}

footer h2 {
  font-size: 24px;
}

@media (max-width: 768px) {
  footer h2 {
    font-size: 20px;
    margin: 0;
  }
}

footer p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 20px 0;
}

@media (max-width: 768px) {
  footer p {
    font-size: 16px;
    margin: 8px 0;
  }
}

footer .rights {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #b7b7b8;
}

@media (max-width: 768px) {
  footer .rights {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -70px;
    font-size: 10px;
  }
  footer .rights br {
    display: none;
  }
}

footer a {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  word-wrap: break-word;
  color: #0098d1;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  footer a {
    font-size: 10px;
    margin: 0;
  }
}

@media (max-width: 768px) {
  section {
    padding-top: 50px !important;
  }
}
