@charset "UTF-8";
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Ex';
  src: url("../fonts/ProximaNova-Extrabld.eot");
  src: local("../fonts/Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Extrabld.woff2") format("woff2"), url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova B';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("../fonts/Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 8px 50px rgba(153, 153, 153, 0.3);
          box-shadow: 0px 8px 50px rgba(153, 153, 153, 0.3);
  z-index: 10;
}

.my-container {
  width: 92%;
  max-width: 1200px;
  min-width: 288px;
  margin: 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  margin-right: 48px;
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  color: #181941;
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #576078;
}

nav a:hover {
  font-weight: bold;
  color: #181941;
}

.header__btn {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: 'Proxima Nova B', sans-serif;
  font-size: 18px;
  background: linear-gradient(99.46deg, #00D9B6 0%, #00D9CC 100%);
  border-radius: 6px;
  border: none;
  color: white;
  padding: 12px 36px;
}

.header__btn:hover {
  cursor: pointer;
}

.header__btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  display: block;
  width: 100%;
  height: 46px;
  background: #00D9B6;
  mix-blend-mode: normal;
  opacity: 0.3;
  -webkit-filter: blur(40.7742px);
          filter: blur(40.7742px);
  border-radius: 25px;
}

.header__btn:focus {
  outline: none;
}

.burger {
  position: absolute;
  right: 0;
  top: 0;
}

.burger div {
  width: 24px;
  height: 3px;
  margin: 8px;
  background-color: #00D9B6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.burger:hover {
  cursor: pointer;
}

.burger {
  padding: 32px 20px 0 0;
  display: none;
}

.burger {
  display: none;
}

.nav__active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.toggle__line-1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 10px);
          transform: rotate(-45deg) translate(-6px, 10px);
}

.toggle__line-2 {
  opacity: 0;
}

.toggle__line-3 {
  -webkit-transform: rotate(45deg) translate(-6px, -10px);
          transform: rotate(45deg) translate(-6px, -10px);
}

.hero__page {
  margin-top: 200px;
  padding-bottom: 180px;
  position: relative;
}

.hero__page__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__page__text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.hero__page__title {
  font-family: 'Proxima Nova Ex', sans-serif;
  font-size: 36px;
  line-height: 43px;
  color: #181941;
}

.hero__page__subtitle {
  margin-top: 16px;
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  color: #181941;
  line-height: 25px;
}

.hero__page__img {
  width: 60%;
  max-width: 692px;
  min-width: 288px;
}

.hero__page .test {
  position: absolute;
  width: 100%;
  max-width: 822px;
}

.consult__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 20;
}

.consult__popup__content {
  position: relative;
  max-width: 794px;
  padding: 40px 100px;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0px 8px 50px rgba(153, 153, 153, 0.3);
          box-shadow: 0px 8px 50px rgba(153, 153, 153, 0.3);
  border-radius: 10px;
}

.consult__popup__content form h3 {
  font-family: 'Proxima Nova Ex', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  color: #181941;
}

@media (max-width: 620px) {
  .consult__popup__content form h3 {
    font-size: 24px;
  }
}

.consult__popup__content form h3 br {
  display: none;
}

.consult__popup__content form input {
  display: block;
  margin: 0 auto 10px auto;
  border: 1px solid #CECECE;
  border-radius: 6px;
  padding: 10px 0 10px 16px;
  font-family: 'Proxima Nova B', sans-serif;
  font-size: 16px;
  color: #181941;
}

.consult__popup__content form input:focus {
  outline: none;
  border: 1px solid #181941;
}

.consult__popup__content form input::-webkit-input-placeholder {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  color: #181941;
}

.consult__popup__content form input:-ms-input-placeholder {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  color: #181941;
}

.consult__popup__content form input::-ms-input-placeholder {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  color: #181941;
}

.consult__popup__content form input::placeholder {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  color: #181941;
}

.consult__popup__content form input[placeholder="Имя"] {
  margin-top: 24px;
}

.consult__popup__content form input[placeholder="Телефон"] {
  margin-bottom: 40px;
}

.consult__popup__content form button {
  width: 100%;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: 'Proxima Nova B', sans-serif;
  font-size: 18px;
  background: linear-gradient(99.46deg, #00D9B6 0%, #00D9CC 100%);
  border-radius: 6px;
  border: none;
  color: white;
  padding: 12px 0;
}

.consult__popup__content form button:hover {
  cursor: pointer;
}

.consult__popup__content form button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  display: block;
  width: 100%;
  height: 46px;
  background: #00D9B6;
  mix-blend-mode: normal;
  opacity: 0.3;
  -webkit-filter: blur(40.7742px);
          filter: blur(40.7742px);
  border-radius: 25px;
}

.consult__popup__content form button:focus {
  outline: none;
}

.consult__popup__content form input,
.consult__popup__content form button {
  width: 100%;
  max-width: 386px;
}

.consult__popup__content .close__btn {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
  width: 16px;
  height: 16px;
  background: url("../images/close.svg") no-repeat center;
  background-size: cover;
  padding: 0;
  margin: 40px 40px 0 0;
  cursor: pointer;
}

.consult__popup__content .close__btn:focus {
  outline: none;
}

.service {
  padding-top: 138px;
  padding-bottom: 80px;
  background-color: #FAFAFA;
}

.service_container {
  width: 95%;
  max-width: 1328px;
  min-width: 288px;
  margin: 0 auto;
}

.service__title {
  font-family: 'Proxima Nova Ex', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  color: #181941;
}

@media (max-width: 620px) {
  .service__title {
    font-size: 24px;
  }
}

.service__slider {
  margin-top: 32px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 50px rgba(153, 153, 153, 0.3);
          box-shadow: 0px 8px 50px rgba(153, 153, 153, 0.3);
}

.service__slider__el {
  overflow: hidden;
}

.service__slider__el__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.service__slider__text {
  padding: 3.5% 0 0 5%;
}

.service__slider__title {
  font-family: 'Proxima Nova Ex', sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #181941;
}

.service__slider__capture {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  color: #181941;
  margin: 10px 0;
}

.service__slider__subtext {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  color: #181941;
}

.service__slider img {
  width: 60%;
}

.service__slider .prevArrow,
.service__slider .nextArrow {
  position: absolute;
  bottom: 10%;
  height: 3px;
  font-size: 0;
  border: 0;
  outline: none;
  -webkit-transform: scale(3);
          transform: scale(3);
  z-index: 9;
}

.service__slider .prevArrow:hover,
.service__slider .nextArrow:hover {
  cursor: pointer;
}

.service__slider .prevArrow {
  left: 6%;
  background: url("../images/prevArrow.svg") no-repeat center;
  background-size: cover;
}

.service__slider .nextArrow {
  left: 11%;
  background: url("../images/nextArrow.svg") no-repeat center;
  background-size: cover;
}

.slick-active,
.slick-slide {
  outline: none;
}

.workers {
  padding-top: 80px;
}

.workers-title {
  font-family: 'Proxima Nova Ex', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  color: #181941;
  margin-bottom: 32px;
}

@media (max-width: 620px) {
  .workers-title {
    font-size: 24px;
  }
}

@media (max-width: 556px) {
  .workers-title {
    margin-bottom: 24px;
  }
}

.workers__slider {
  position: relative;
  -webkit-box-shadow: 0px 8px 50px rgba(153, 153, 153, 0.3);
          box-shadow: 0px 8px 50px rgba(153, 153, 153, 0.3);
  border-radius: 10px;
}

.workers__slider .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.workers__slider .slick-slide {
  height: inherit !important;
}

.workers__slider .item__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media (max-width: 768px) {
  .workers__slider .item__flex {
    display: block;
  }
}

.workers__slider__media {
  padding: 64px 20px 64px 20px;
  max-width: 502px;
}

.workers__slider__media .status {
  font-family: 'Proxima Nova B', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #576078;
}

.workers__slider__media .name {
  font-family: 'Proxima Nova Ex', sans-serif;
  font-size: 24px;
  color: #181941;
}

@media (max-width: 768px) {
  .workers__slider__media .name {
    font-size: 18px;
  }
}

.workers__slider__media p {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  color: #181941;
  margin-top: 12px;
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .workers__slider__media p {
    margin-top: 10px;
    margin-bottom: 32px;
  }
}

.workers__slider__media .more {
  font-family: 'Proxima Nova B', sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #00D9B6;
  background: #FAFAFA;
  border-radius: 6px;
  border: none;
  padding: 12px 36px;
}

.workers__slider__media .more:hover {
  cursor: pointer;
}

.workers__slider .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 60px;
}

.workers__slider .img-box img {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 576px) {
  .workers__slider .img-box img {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .workers__slider .img-box img {
    margin: 0 auto;
  }
}

.workers__slider .first-one {
  padding: 0 40px;
}

.workers__slider .prev-btn,
.workers__slider .next-btn {
  position: absolute;
  bottom: 10%;
  height: 3px;
  font-size: 0;
  border: 0;
  outline: none;
  -webkit-transform: scale(3);
          transform: scale(3);
  z-index: 9;
}

.workers__slider .prev-btn:hover,
.workers__slider .next-btn:hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  .workers__slider .prev-btn,
  .workers__slider .next-btn {
    bottom: 5%;
  }
}

.workers__slider .prev-btn {
  right: 140px;
  background: url("../images/prevArrow.svg") no-repeat center;
  background-size: cover;
}

.workers__slider .next-btn {
  right: 60px;
  background: url("../images/nextArrow.svg") no-repeat center;
  background-size: cover;
}

.more-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.more-popup-content {
  max-width: 1200px;
  max-height: 500px;
  padding: 40px 0;
  background-color: white;
}

@media (min-width: 710px) {
  .hero__page__subtitle br.first-br {
    display: none;
  }
}

@media (min-width: 1200px) {
  .hero__page__title br.second-br {
    display: none;
  }
  .service__slider .prevArrow,
  .service__slider .nextArrow {
    bottom: 13%;
  }
}

@media (max-width: 620px) {
  .hero__page__inner {
    display: block;
    text-align: center;
  }
  .consult__popup .close__btn {
    margin: 70px 24px 0 0;
  }
  .hero__page__text {
    text-align: left;
    margin-bottom: 32px;
    max-width: 345px;
  }
  .hero__page__title br {
    display: none;
  }
}

@media (max-width: 1050px) {
  nav a {
    margin-right: 40px;
  }
}

@media (max-width: 992px) {
  nav {
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    height: 100vh;
    background-color: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  nav a {
    margin-bottom: 32px;
    margin-right: 0;
  }
  .hero__page {
    margin-top: 128px;
  }
  .hero__page__title {
    font-size: 30px;
    line-height: 36px;
  }
  .hero__page__title br.second-br {
    display: none;
  }
  .hero__page__subtitle {
    margin-top: 12px;
  }
  .hero__page__subtitle br.second-br {
    display: none;
  }
  .burger {
    display: block;
  }
  .consult__popup__content {
    padding: 146px 16px;
  }
  .consult__popup__content form h3 {
    font-size: 24px;
  }
  .consult__popup__content form h3 br {
    display: block;
  }
  .service_container {
    width: 92%;
    margin: 0 auto;
  }
  .service__slider__el__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .service__slider img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
  }
  .service__slider__text {
    padding-bottom: 72px;
  }
  .service__slider__title {
    font-size: 16px;
    line-height: 22px;
  }
  .service__slider .prevArrow {
    left: 7%;
  }
  .service__slider .nextArrow {
    left: 104px;
  }
}
