@mixin purple-btn-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 286px;
    padding: 21px 25px;
    background: linear-gradient(180deg, #6D3DF8 0%, #3B00E7 100%);
    box-shadow: 3px 3px 9px #3C01E7;
    border-radius: 9px;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;

    .btn-arrow {
        width: 12px;
        height: 21px;

    }

}

@mixin title-style {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    max-width: 290px;
    margin: 0 auto;

    @media(min-width:768px) {
        font-size: 36px;
        line-height: 49px;
        max-width: unset;
    }
}

@mixin content-text-style {
    font-size: 18px;
    line-height: 25px;
}