// @import 'libs';
@import 'fonts';
@import 'mixins';
@import 'basic-settings';



// Home Page
.header {
    padding-top: 38px;
    padding-bottom: 60px;

    &__inner {
        display: block;
    }

    &__btn-list {
        margin-top: 37px;

    }

    &__link {
        display: block;
        font-size: 18px;
        line-height: 25px;
        padding: 12px 20px;
        width: fit-content;
        margin: 0 auto;
        border: 1px solid #6D3DF8;
        border-radius: 9px;
        color: #6D3DF8;
        margin-bottom: 15px;

    }

    &__main-text {
        color: #5723F1;

    }
}

.logo {
    text-align: center;

    &__main-text {
        font-weight: bold;
        font-size: 40px;
        line-height: 54px;

    }

    &__sub-text {
        font-size: 18px;
        line-height: 25px;
        margin-top: 4px;
    }
}

.intro {
    .container {
        padding: 0;
    }


    &__inner {
        display: flex;
        flex-direction: column-reverse;
    }

    &__menu {
        margin-top: 60px;
        padding: 0 15px;
        text-align: center;
        font-size: 20px;
        line-height: 27px;

        &-link {
            display: block;
            margin-bottom: 20px;
            color: #000000;

            &:active {
                color: #6939F7;
            }
        }

        &-subtext {
            padding-left: 50px;
        }
    }

    &__main {
        background: url("../img/intro/intro-bg.jpg") no-repeat center;
        background-size: cover;
        padding: 40px 15px;
        color: #FFFFFF;
    }

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;
        text-align: center;
    }

    &__subtitle {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 88px;
    }

    &__guide {
        display: none;
    }
}

.btn {
    @include purple-btn-style;
}

.gallery {
    text-align: center;
    padding-top: 18px;

    &__img {
        width: 100%;
        margin-bottom: 8px;
        padding: 0 10px;
    }
}

.choose-option {
    padding-top: 52px;

    .container {
        padding: 0;
    }

    &__title {
        @include title-style;
        padding: 0 15px;
        margin-bottom: 50px;
    }
}

.gift-note {
    margin-top: 21px;
    padding-left: 15px;

    p {
        position: relative;
        font-size: 18px;
        line-height: 25px;
        padding-left: 20px;
        color: #636363;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 5px;
            display: inline-block;
            width: 12px;
            height: 13px;
            background: url("../img/choose-option/gift.svg") no-repeat center;
            background-size: cover;
        }
    }
}

.service-card {
    padding: 10px;

    &__text {
        padding: 0 15px;
    }

    &__img {
        width: 100%;
        max-width: 642px;
    }

    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        margin-top: 28px;

    }

    &__features-list {
        margin-top: 58px;
    }

    &__features-item {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }

    &__features-desc {
        margin-left: 12px;
    }

    &__tour-num {
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        margin: 50px 0 20px 0;
    }
}

.gift {
    text-align: center;
    padding-top: 50px;

    &__title {
        @include title-style;
        margin-bottom: 50px;

    }

    &__item {
        margin-bottom: 50px;

        &-guide {
            max-width: 287px;
            margin: 0 auto;
        }
    }

    &__subtitle {
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
    }

    &__desc {
        @include content-text-style;
    }

    &__link {
        display: inline-block;
        text-decoration: underline;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        margin-top: 50px;
        color: #000000;
    }
}

.seo {
    padding-top: 50px;
    padding-bottom: 60px;

    &__title {
        @include title-style;
    }

    &__paragraph {
        @include content-text-style;
        margin-top: 50px;
    }

    &__inner {
        margin-top: 30px;

        &-text {
            margin-top: 30px;
        }

        &-title {
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
        }

        &-desc {
            margin-top: 30px;
        }
    }

    &__img {
        max-width: 100%;
    }

    &__paragraph_display {
        display: none;
    }
}

.footer {
    text-align: center;
    padding: 50px 0;
    color: white;
    background-color: #6D3DF8;

    &__btn-list {
        margin: 50px 0;
    }

    &__link {
        display: block;
        width: fit-content;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        box-sizing: border-box;
        border-radius: 9px;
        padding: 12px 15px;
        margin: 0 auto 15px auto;
    }

    &__city {
        display: none;
    }

    &__menu {
        margin-top: 55px;

        &-link {
            display: block;
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
            margin-bottom: 15px;
        }
    }



    &__rights {
        font-size: 18px;
        line-height: 25px;
        margin-top: 50px;

        &-link {
            display: block;
            margin-bottom: 15px;
            color: #DFDFDF;
        }
    }

    &__address {
        margin-top: 50px;
        opacity: 0.4;
        min-width: 272px;
    }
}

// Service Detail
.service_detail-menu {
    display: none;
}

.video {
    padding: 100px 0;

    &__obj {
        width: 100%;
    }
}

.choose-tour {
    .container {
        overflow-x: hidden;

    }

    &__title {
        @include title-style;

    }

    &__subtitle {
        font-size: 20px;
        line-height: 27px;
        margin: 50px 0;
    }



    &__inner {
        display: flex;
        transition: transform 0.3s;
    }

}

.tour-card {
    // min-width: 100%;
    padding: 50px;
    border: 1px solid #E3E3E3;
    border-radius: 10px;

    &__level-btn {
        padding: 21px 51px;
        border-radius: 9px;
        cursor: pointer;
        text-align: center;
        margin-bottom: 17px;
        margin-top: 25px;


        &_transparent {
            border: 1px solid #6D3DF8;
        }

        &_green {
            background-color: #3DF871;
        }

        &_purple {
            background-color: #6D3DF8;
        }

        &_red {
            background-color: #F83D3D;
        }
    }

    &__header {
        display: block;
    }

    &__status {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
    }

    &__features {
        margin-top: 30px;

        &-item {
            display: flex;
            align-items: center;
            @include content-text-style;
            margin-bottom: 20px;
        }
    }

    &__btn {
        cursor: pointer;
    }



    &__icon {
        margin-right: 20px;
    }

    &__price {
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        margin-top: 52px;
        margin-bottom: 20px;
    }

}

.level {
    font-size: 14px;
    line-height: 19px;
    color: #ADADAD;
    text-align: center;
    margin-top: 10px;
}

.more-info-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        position: relative;
        width: 100%;
        max-width: 666px;
        background-color: #fff;
        height: 90vh;
        max-height: 1212px;
        overflow: scroll;
        padding: 50px 0;

    }

    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        padding: 0 20px;
    }

    &__subtext {
        @include content-text-style;
        margin-top: 10px;
        padding: 0 20px;
        padding-bottom: 50px;

    }

    &__map {
        width: 100%;
        height: 307px;
    }

    &__text {
        position: relative;
        padding: 50px 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);

    }

    &__props {
        display: block;


    }

    &__left {
        width: 100%;
    }

    &__right {
        width: 100%;
    }

    &__subtitle {
        font-weight: bold;
        @include content-text-style;
        margin-top: 30px;

    }

    &__desc {
        @include content-text-style;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    &__price {
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        margin-top: 50px;
        padding: 0 20px;

    }

    &__btn-list {
        margin-top: 40px;
        padding: 0 20px;

    }

    &__buy-gift-btn {
        background: linear-gradient(180deg, #14A33C 0%, #1C8F3C 100%);
        box-shadow: 3px 3px 9px #1C8F3C;
        margin-top: 19px;
    }

    &__close-btn {
        position: absolute;
        top: 29px;
        right: 33px;
        cursor: pointer;
    }

}

.booking-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);

    &__content {
        background-color: #fff;
        height: 90vh;
        width: 100%;
        max-width: 666px;
        padding: 31px 0 55px 0;
        overflow: auto;
    }

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 27px 50px 31px;
    }

    &__back {
        position: absolute;
        left: 0;
        bottom: 0;
        padding-left: 31px;
        font-size: 18px;
        line-height: 25px;

    }

    &__title {
        @include content-text-style;
        border-radius: 9px;
        padding: 21px 26px;
        border: 1px solid #6D3DF8;
        color: #6D3DF8;

    }

    &__slider {
        margin-top: 50px;
        overflow: hidden;
    }

    &__status {
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        padding: 0 20px;

    }

    &__subtext {
        font-size: 16px;
        line-height: 22px;
        margin-top: 10px;
        padding: 0 20px 50px 20px;

    }

    &__img {
        width: 100%;
    }

    &__card {
        // min-width: 100%;

        &-title {
            font-weight: bold;
            font-size: 22px;
            line-height: 30px;
            text-align: center;
        }
    }

    &__text {
        padding: 0 20px;
        margin-top: 30px;
    }

    &__features-list {
        padding: 38px 0;


    }

    &__features-item {
        display: flex;
        align-items: center;

        &:nth-child(odd) {
            margin: 25px 0;
        }
    }

    &__features-desc {
        @include content-text-style;
        margin-left: 12px;
    }

    &__payment {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__tour-amount {
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
    }

    &__price {
        display: none;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
    }

    &__bottom {
        padding: 0 20px;
    }

    &__prev-btn,
    &__next-btn {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #6D3DF8;

    }

    &__page {
        display: none;
        align-items: center;

        &-bar {
            width: 100%;
            height: 1px;
            background-color: #6D3DF8;
            margin: 0 30px;
        }
    }

    &__current-item {
        width: 0;
        height: 4px;
        background-color: #6D3DF8;
        margin-top: -3px;
        transition: transform 0.3s;
    }

    &__page_mobile {
        display: flex;
        padding: 0 20px;
        margin-top: 30px;
        justify-content: center;
    }

    &__page-dot {
        list-style: none;
        margin: 0 3px;
        border-radius: 100%;
        width: 17px;
        height: 17px;
        background-color: #C4C4C4;
        opacity: 0.3;
    }

    &__page-dot_active {
        background-color: #6D3DF8;
        opacity: unset;
    }

    &__prev-btn,
    &__next-btn {
        cursor: pointer;
    }

    &__keytext {
        @include content-text-style;
        text-align: center;
        opacity: 0.7;

        margin-top: 30px;
    }

    &__extra {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
        width: 80%;
        margin: 50px auto 0 auto;


        &-text {
            @include content-text-style;
        }

        &-price {
            font-weight: bold;
            font-size: 24px;
            line-height: 33px;
            margin: 30px 0;
        }
    }

    &__prepayment {
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        margin-top: 50px;

    }

    &__pay-in-place {
        font-size: 24px;
        line-height: 33px;
        margin-top: 30px;

    }

    &__btn {
        margin-top: 50px;

    }

    &__close-btn {
        cursor: pointer;
    }

}

.amount {
    width: fit-content;
    display: flex;
    border: 1px solid #6D3DF8;
    height: fit-content;
    border-radius: 9px;
    overflow: hidden;



    &-btn {
        width: 60px;
        color: white;
        padding: 16px 26px;
        background-color: #6D3DF8;
        border-radius: 9px;
        cursor: pointer;
    }

    &__number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        border: none;

    }
}









@import 'media';