.articles {
    padding-top: 128px;

    &-title {
        @include title-style;
        text-align: center;


        @media(max-width:768px) {
            @include title-style-mobile;

        }
    }

    &-subtext {
        @include content-style(26px);
        text-align: center;
    }

    &__slider {
        margin-top: 48px;

        &-item {
            margin: 0 10px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
            background: url('../images/articles/articles-heart.png') no-repeat;
            background-position: bottom right;

            &-img {
                width: 100%;
                height: 214px;
                object-fit: cover;
                object-position: center;
            }

            &__text {
                padding: 24px;
            }

            &-title {
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
            }

            &-date {
                font-size: 14px;
                color: #757575;
            }

            p {
                @include content-style(26px);
                margin: 12px 0;
            }

            &-btn {
                a {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    text-decoration: none;
                    color: $green;
                }
            }
        }

        &-prev-btn,
        &-next-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;


            @media(max-width: 768px) {
                display: none !important;
            }
        }

        &-prev-btn {
            left: -3%;
        }

        &-next-btn {
            right: -3%;
        }

        .slick-track {
            display: flex !important;
            padding: 10px 0;
        }

        .slick-slide {
            height: inherit !important;
        }

        .slick-active,
        .slick-current,
        .slick-slide {
            outline: none;
        }

        .slick-dots {
            display: flex;
            justify-content: center;

            li {
                margin: 12px;
                outline: none;
            }

            button {
                border: none;
                font-size: 0;
                width: 12px;
                height: 12px;
                border-radius: 100%;
                background-color: #F1F1F1;
                cursor: pointer;
                outline: none;



            }

            .slick-active {
                button {
                    background-color: $green;
                    outline: none;
                }

            }
        }
    }
}