.feedback {
    padding: 128px 0;

    &-title {
        @include title-style;
        text-align: center;
    }

    &-subtext {
        @include content-style(26px);
        text-align: center;
    }

    &__slider {
        margin-top: 48px;


        &-card {
            position: relative;
            width: 30%;
            height: auto;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
            padding: 24px;
            margin-right: 40px;


            &-media {
                display: flex;
                align-items: center;

                &-capture {
                    margin-left: 16px;

                    strong {
                        font-size: 16px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 20px;
                        margin-top: 2px;
                    }
                }

                .feedback-img {
                    width: 64px;
                    height: 64px;
                }
            }

            &-text {
                @include content-style(26px);
            }

            &-quotes {
                position: absolute;
                bottom: 16px;
                right: 16px;
                z-index: -1;
            }

            @media(max-width:1020px) {
                width: unset;
                min-width: 50%;
            }
        }

    }
}