.footer {
    position: relative;
    margin-top: 128px;
    background-color: #343434;




    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 30px 0;



        &-logo {
            width: 154px;
            height: 32px;

            @media(max-width:370px) {
                margin: 0 auto;
            }
        }

        &-right {
            display: flex;


            p {
                font-size: 16px;
                color: #DADADA;
                align-self: center;

                @media(max-width:768px) {
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    left: 0;
                    bottom: 0;
                }
            }

            &-media {
                display: flex;
                justify-content: space-between;
                align-self: center;
                margin-left: 32px;

                &-img {
                    margin-right: 12px;
                }

                .img-correct {
                    margin: 0;
                }

                @media(max-width:768px) {
                    margin: 0;
                }

            }

            @media(max-width:370px) {
                margin: 10px auto;
            }
        }
    }
}