.map {
    margin-top: 128px;
    overflow-x: hidden;

    &-title {
        @include title-style;
        text-align: center;

        @media(max-width: 768px) {
            @include title-style-mobile;
        }
    }

    &__inner {
        width: 80%;
        margin: 0 auto;
    }

    &-img {
        margin-top: 48px;
        width: 100%;
        transition: transform 0.4s;

        @media(min-width:576px) {
            transform: unset !important;
        }

        @media(max-width: 576px) {
            width: unset;
            min-width: 50%;
        }
    }
}